/* navigation bar */ 
.navbar {
    display: flex;
    width: auto;
    /* -webkit-height: 20px; */
    background: #171719;
    padding: 1px 5px;
	justify-content: space-between;
	align-items: center;
    /* position: fixed; */
    z-index: 9;
}

.logo{
    width: 3em;
    /* height: em; */
}

.navbar-links, .navbar-link {
	height: 100%;
    display: flex;
}

.navbar-links ul{
    display: flex;
	/* margin: 0;
	padding: 0; */
}

.navbar-links li, .navbar-link li {
	list-style: none;

}

.navbar-links li a, .navbar-link li a {
	display: block;
	text-decoration: none;
	color: #707070;
	padding:  0rem 1rem;
    position: relative;
}

.navbar-links li a.active{
    color: #d3d3d3;
    background-color: rgba(0,0,0,0);
}

.navmenu{
    margin-right: 5em;
}

.navmenu li{
    padding: .5em 1em;
}

.navbtn i{
    color: #707070;
    padding: .5rem;  
}

.navbar-links li a:hover, .navbtn i:hover{
    color: #DEDEDE;
}

.navbtn .search-bar{
    width: 15em;
    height: 1em;
    padding: 1em;
    font-size: 1em; 
    background-color: #2C2C2C;
    color: #B2B2B2;
    border: none;
    margin-top: .1em;
}

.navbtn .search-icon{
    margin-left: -1.9em;
}

/* sm screen navbar */
.sm-navbar{
    display: none;
    padding: 0.8em 1.5em;
    width: auto;
    /* height: ; */
    background-color: #171719;
}

.nav-btns{
    justify-content: space-between;
}

.sm-navbar .cart-icon span{
    font-size: 1.7em;
    color: #707070; 
    /* margin: -1.3em 0em 0em em; */
}

.search-div a{
    display: flex;
}

.search-div a span{
    /* position: absolute; */
    margin-left: -2em;
}

.sm-navbar a input{
    width: 20em;
    padding: 1em;
    font-size: 1em;
    margin-left: -2em;
    background-color: #2C2C2C;
    color: #B2B2B2;
    border: none;
}

/* For responsiveness */
.toggle-button {
	/* position: absolute; */
	top: .75rem;
	left: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
    transition: all 0.3s ease-in-out;
    background: rgba(0,0,0,0);
}

.toggle-button .bar {
	height: 1px;
	width: 100%;
	background-color: #707070;
	border-radius: 10px;
}

@media only screen and (max-width: 991px) {
    /* Navigation Bar */
    .navbar {
        display: none;
    }

    .sm-navbar{
        display: grid;
        /* background-color: blanchedalmond; */
    }

    .nav-btns{
        display: flex;
    }

    .toggle-button {
        display: flex;
        background: rgba(0,0,0,0);
    }
    
    .toggle-button.active .bar:nth-child(2) {
        opacity: 0;
    }

    .toggle-button.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .toggle-button.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .logo{
        width: 3em;
        height: 3em;
    }

    .sm-navbar .navbar-link {
        display: none;
        background-color: rgba(0,0,0,0);;
    }
    
    .navbar-link ul {
        width: 100%;
        flex-direction: column;
        transition: 0.3s;
    }
    
    .navbar-link ul li {
        text-align: center;
    }
    
    .navbar-link ul li a {
        padding: .5rem 1rem;
        text-align: left;
    }

    .navmenu{
        margin-right: 0em;
    }
    
    .sm-navbar .navbar-link.active {
        display: flex;
    }
    
}
